<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ASSIGNMENT 10</title>
  <meta name="description" content="DATABASE">

</head>

<body>

<h1>Enter the Restaurant Name</h1>

<br/><br/>

  <form action="Movies" method="get">
    <label for="restautant">Restaurant Name:</label>
    <input type="text" id="restautant" name="restautant" value="rName"><br><br><br><br>
    <input type="submit" value="SUBMIT">

    <br/><br/>

  </form>


</body>
</html>
